@tailwind base;
@tailwind components;
@tailwind utilities;

.toast-message {
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  padding: 1rem 0.5rem;
}

.toast-message-error {
  background-color: red;
  color: #ffffff;
  font-size: 20px;
  padding: 1rem 0.5rem;
}
